@import 'tailwindcss';

body {
  margin: 0;
  padding: 0;
  direction: rtl;
}

.button-primary {
  @apply flex items-center justify-center gap-2 rounded-[40px] px-[16px] py-[12px] text-[16px] font-semibold text-[#FCFCFC];
}
.Center {
  @apply flex items-center justify-center;
}

@theme {
  --color-primary: #3772ff;
  --color-secondry: #f1f1f1;
  --color-thirdly: #2f2f2f;
}

.nav-button {
  @apply text-primary mx-auto mt-4 flex h-[40px] w-[141px] cursor-pointer flex-row-reverse items-center justify-center gap-1 rounded-[34px] border border-[#DCDCDC] text-center font-medium leading-4;
}
